# Dependency directories
node_modules/
jspm_packages/

dist
redisdata

# dotenv environment variable files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.env.development
.env.test
.env.production